<section>
    <% if @messages.size > 0 %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">发送方</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <% @messages.each do |msg|  %>
                    <tr>
                        <% if msg.message_state_id == 2 %>
                            <th><i class="fa fa-envelope" aria-hidden="true"></i></th>
                        <% else %>
                            <th><i class="fa fa-envelope-o" aria-hidden="true"></i></th>
                        <% end %>
                        <td><%= msg.user.name %></td>
                        <td><%= link_to truncate(msg.body, length: 15), user_message_path(current_user, msg) %></td>
                        <td><%= link_to 'delete', user_message_path(current_user, msg), method: :delete %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <div class="jumboron jumbotron-fluid">
            <h1 class="display-3 text-center">oh, There is nothing.</h1>
        </div>
    <% end %>
</section>
        