<h4 class="card-title">
    Name: <%= comment.name %>
</h4>
<p class="card-text"> description: <%= comment.description %> </p>
<% if user_signed_in? %>
    <% if @article.user_id == current_user.id %>
        <%= link_to 'destroy', [comment.article, comment], method: :delete, remote: true, class: "btn btn-danger" %>
    <% end %>
<% end %>