<li>
  <div class="comment-head">
    <p>
      Name:
      <%= comment.name %>
    </p>
  </div>
  <div class="comment-content">
    <p>
      description:
      <%= comment.description %>
    </p>
  </div>
  <% if user_signed_in? %>
      <% if @article.user_id == current_user.id %>
          <%= link_to 'destroy', [comment.article, comment], method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-default" %>
      <% end %>
  <% end %>
</li>
