<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h4 class="card-title"> Name: <%= comment.name %> </h4>
    <p class="card-text"> description: <%= comment.description %> </p>
  </li>
</ul>

    