<article>
  <div class="article-list">
    <% if !@articles.blank? %>
        <ul class="list-group">
          <% @articles.each do |article| %>
              <li class="list-group-item">
                <%= link_to truncate(article.title, length: 30), article, class: "article_title text-center", target: :_self %>
              </li>
          <% end %>
        </ul>
    <% else %>
      <div class="well">
        <p>what? : ) </p>
       </div>
    <% end %>
  </div>
</article>
<div class="article-footer">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label: "&larr;Previous", next_label: "Next&rarr;", inner_window: 2, outer_window: 0 %>
</div>