<section>
  <div class="search_list">
      <% if !@articles.blank? %>
          <ul class="list-group">
            <% @articles.each do |t| %>
                <li class="list-group-item"> <%= link_to t.title, t %></li>
            <% end %>
          </ul>
      <% else %>
          <div class="jumbotron">
            <h3 class="header">oh, bro, you late one step.</h3>
          </div>
      <% end %>
    </div>
</section>
  
