<div class="panel panel-default">
  <div class="panel-body">
    <div class="search_list">
      <% if !@articles.blank? %>
          <ul class="list-group">
            <% @articles.each do |t| %>
                <li class="list-group-item"> <%= link_to t.title, t %></li>
            <% end %>
          </ul>
      <% else %>
          <div class="well">
            <p>oh, bro, you come late one step.</p>
          </div>
      <% end %>
    </div>
  </div>
</div>
