@import "bootstrap-sprockets";
@import "bootstrap";
@import "articles";
@import "search";
@import "trix";
@import "syntax-highlighter-rails/shCore";
@import "syntax-highlighter-rails/shThemeDefault";
body {
  background-color: #ECEFF1;
  ul.nav.navbar-nav {
      li.search {
          width: 250px;
      }
  }
  li.search {
    margin-top: 8px;
  }

}

