div.article-list {
    div.wrap-content {
        a {
            color: black;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            text-decoration: none;
        }
    }
}

main {
    article {
        text-align: center;
        div.text-center {
            a {
                border: 1px solid #dcdcdc;
                color: #9b9b9b;
                border-radius: 50px;                
            }
        }

        div.user-profile {
            weight: 300px;
            height: 400px;
        }
    }
}

section.new-comment {
    margin: 0 auto;

    form {
        textarea {
            border: 1px solid #dcdcdc;
            border-radius: 4px;
            background-color: hsla(0, 0%, 71%, 0.1);
        }

        div.left-comment {
            display: inline;
            p {
                display: inline;
            }
            padding-right: 90px;
        }
    }
}

section.profile-article-list {
    ul li {
        div.wrap-article {
            h6 a {
                color: black;
                text-decoration: none;
            }
        }
    }
}