div.article-list {
    div.wrap-content {
        a {
            color: black;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
        }
    }
}

main {
    article {
        text-align: center;
    }
}