// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.article-content {
  div.article-list {
    ul li {
      text-align: center;
    }
    ul li a.article_title {
      text-decoration: none;
    }
  }
}
div.article-title {
  h1 {
    text-align: center;
  }
}

div.entry-content {
  margin: 20px;
}

div.entry-footer {
  ul.comments-list li {
    list-style: none;
    border-bottom: 1px dotted #DDD;
  }
}
#article_body {
  height: 300px;
}